<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schema Tools web app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
      table {
        width: 100%;
      }
      th, td {
        border: 1px solid black;
        padding: 5px;
      }
      .header {
        border: none;
        padding: 0px;
      }
      .right {
        text-align: right;
      }
      .narrow {
        width: 10%;
        white-space: nowrap;
      }
      @media print {
        .navbar, .debug {
          display: none;
        }
      }
    </style>
    <link href="../static/highlight.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Schema Tools</a>
      </div>
    </nav>

    <div class="container my-5">

    {{ body | safe }}

    </div>

    <div class="container my-5 debug">
      <p>
        For your reference, here’s the data structure as it appears in the template. However, it won’t be included when you print this page.
      </p>
{% highlight 'json' %}
{{ debug }}
{% endhighlight %}
    </div>

  </body>
</html>
